<app-profile></app-profile>
<app-left-nav></app-left-nav>
<main>
  <div class="real-time-main-container">
    <div class="real-time-main-nav">
      <div class="real-time-main-admin">
        <button routerLink="/main/realtime/vehicle" class="real-time-main-btn">
          Vehicle
        </button>
      </div>
      <div class="real-time-main-admin">
        <button class="real-time-main-btn">
          Battery
        </button>
      </div>
      <div class="real-time-main-admin">
        <button class="real-time-main-btn">
          Fleet
        </button>
      </div>
      <div class="real-time-main-admin">
        <button class="real-time-main-btn">
          Docking Station
        </button>
      </div>
    </div>
  </div>
  <div class="real-time-main-dashboard-container">
    <div class="real-time-main-dashboard">
      <div class="real-time-main-dashboard-top-row">
        <div class="real-time-main-dashboard-vehicle-container">
          <p class="real-time-main-dashboard-vehicle-quantity">450/500</p>
          <p class="real-time-main-dashboard-vehicle-title">Vehicles</p>
        </div>
        <div class="real-time-main-dashboard-battery-container">
          <p class="real-time-main-dashboard-battery-quantity">190/200</p>
          <p class="real-time-main-dashboard-battery-title">Batteries</p>
        </div>
        <div class="real-time-main-dashboard-fleet-container">
          <p class="real-time-main-dashboard-fleet-quantity">80/100</p>
          <p class="real-time-main-dashboard-fleet-title">Fleet</p>
        </div>
        <div class="real-time-main-dashboard-geo-container">
          <p class="real-time-main-dashboard-geo-quantity">5/500</p>
          <p class="real-time-main-dashboard-geo-title">Geo-fensing crossed</p>
        </div>
      </div>
      <div class="real-time-main-dashboard-bottom-row">
        <div class="real-time-main-dashboard-breakdown-container">
          <p class="real-time-main-dashboard-breakdown-quantity">0/500</p>
          <p class="real-time-main-dashboard-breakdown-title">Breakdowns</p>
        </div>
        <div class="real-time-main-dashboard-maintenance-container">
          <p class="real-time-main-dashboard-maintenance-quantity">40/500</p>
          <p class="real-time-main-dashboard-maintenance-title">Maintenance</p>
        </div>
        <div class="real-time-main-dashboard-active-container">
          <p class="real-time-main-dashboard-active-quantity">490/500</p>
          <p class="real-time-main-dashboard-active-title">Active</p>
        </div>
        <div class="real-time-main-dashboard-improper-container">
          <p class="real-time-main-dashboard-improper-quantity">10/500</p>
          <p class="real-time-main-dashboard-improper-title">
            Improper Parking
          </p>
        </div>
      </div>
    </div>
  </div>
</main>

<!-- <div class="real-time-main-dashboard-controls"></div> -->
