<app-real-time-main></app-real-time-main>
<main>
  <div class="vehicle-nav-container">
    <div class="vehicle-nav">
      <div class="vehicle-nav-btn-container">
        <button
          routerLink="/main/realtime/vehicle/monitoring"
          class="user-nav-btn"
        >
          Monitoring
        </button>
      </div>
      <div class="vehicle-nav-btn-container">
        <button
          routerLink="/main/realtime/vehicle/parking"
          class="user-nav-btn"
        >
          Parking
        </button>
      </div>
    </div>
  </div>
</main>
