.swap-nav-container {
  position: absolute;
  width: 15vw;
  background-color: #f8f8f8;
  border: 1px solid black;
  border-radius: 30px;
  top: 26vh;
  left: 20.5%;
  height: 60vh;
  /* overflow-blo */
}

.swap-nav {
  height: 100%;
  position: relative;
  left: 30px;
  display: flex;
  flex-direction: column;
  align-items: left;
  overflow: hidden;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 0;
}

.swap {
  padding: 10px;
}

.swap-btn {
  background-color: black;
  color: white;
  padding: 6px 6px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
}
