<app-authentication-main-admin></app-authentication-main-admin>
<main>
  <div class="user-nav-container">
    <div class="user-nav">
      <div *ngFor="let user of users" class="user">
        <button
          routerLink="/main/authentication/user/{{ user }}"
          id="{{ user }}"
          class="user-btn"
        >
          {{ user }}
        </button>
      </div>
    </div>
  </div>
  <div class="user-nav-location-container">
    <div class="user-nav-location">
      <div class="user-nav-location-btn-container">
        <button class="user-nav-location-btn">
          User Location
        </button>
      </div>
      <div class="user-nav-location-btn-container">
        <button class="user-nav-location-btn">
          Ride Areas
        </button>
      </div>
      <div class="user-nav-location-btn-container">
        <button class="user-nav-location-btn">
          Geo Location
        </button>
      </div>
    </div>
  </div>
</main>
