.admin-nav-container {
  position: absolute;
  width: 15vw;
  background-color: #f8f8f8;
  border: 1px solid black;
  border-radius: 30px;
  top: 26vh;
  left: 20.5%;
}

.admin-nav {
  height: 60vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  left: 20px;
}

.admin-btn {
  background-color: black;
  color: white;
  padding: 6px 6px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  width: 85%;
  word-break: normal;
}
