.user-nav-details-container {
  position: absolute;
  width: 60vw;
  height: 60vh;
  background-color: #f1f1f1;
  border: 1px solid black;
  border-radius: 30px;
  top: 26vh;
  left: 36.5%;
  display: flex;
  flex-direction: row;
}

.user-nav-profile-details-container {
  position: relative;
  left: 10px;
  top: 10px;
}
.user-nav-profile-img-container {
  position: relative;
  top: 20px;
  left: 20px;
}
.user-nav-profile-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.user-nav-profile-details {
  width: 200px;
  position: relative;
  top: 20px;
  left: 20px;
}
.user-nav-profile-details h3 {
  font-size: 16px;
  font-weight: 300;
  color: #1d1d1f;
}

.user-nav-profile-credentials-container {
  position: relative;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: row;
}
.user-nav-profile-credentials {
  width: 40px;
  height: 40px;
}

.user-nav-profile-feedback-btn-container {
  position: relative;
  top: 20px;
  left: 20px;
}
.user-nav-profile-feedback-btn {
  background-color: black;
  color: white;
  border: none;
  border-radius: 14px;
  font-size: 16px;
  padding: 6px 6px;
}

.user-nav-profile-coupon-btn-container {
  position: relative;
  top: 40px;
  left: 20px;
}
.user-nav-profile-coupon-btn {
  background-color: black;
  color: white;
  border: none;
  border-radius: 14px;
  font-size: 16px;
  padding: 6px 6px;
}

.user-nav-profile-stats-container {
  position: relative;
  left: 60px;
  top: 40px;
}
.user-nav-profile-stats {
  align-items: center;
}

th,
td {
  padding: 10px;
}
tr {
  font-size: 16px;
}
