<app-user-nav></app-user-nav>
<main>
  <div class="user-nav-details-container">
    <div class="user-nav-profile-details-container">
      <div class="user-nav-profile-img-container">
        <img
          class="user-nav-profile-img"
          src="assets/images/profile.jpg"
          alt=""
        />
      </div>
      <div class="user-nav-profile-details">
        <h3>
          {{(user | async)?.name}}
        </h3>
        <h3>
          {{(user | async)?.phoneNumber}}
        </h3>
        <h3>
          {{(user | async)?.email}}
        </h3>
        <h3>
          {{userVerificationStatus}}
        </h3>
        <div class="user-nav-profile-credentials-conainter">
          <img
            class="user-nav-profile-credentials"
            src="assets/images/profile.jpg"
            alt=""
          />
        </div>
        <div class="user-nav-profile-feedback-btn-container">
          <button
            (click)="onViewFeedBack()"
            class="user-nav-profile-feedback-btn"
          >
            View Feed Back
          </button>
        </div>
        <div class="user-nav-profile-coupon-btn-container">
          <button (click)="onCoupon()" class="user-nav-profile-coupon-btn">
            Send Coupon
          </button>
        </div>
      </div>
    </div>
    <div class="user-nav-profile-stats-container">
      <table class="user-nav-profile-stats">
        <tr>
          <th>Rides</th>
          <th>Metrics</th>
          <th>Time Spent</th>
          <th>Penalties</th>
          <th>Dynamic Pricing</th>
          <th>Rating</th>
        </tr>
        <tr *ngFor="let stat of stats">
          <td>{{ stat.ride }}</td>
          <td>{{ stat.metric }}</td>
          <td>{{ stat.time }}</td>
          <td>{{ stat.penalty }}</td>
          <td>{{ stat.pricing }}</td>
          <td>{{ stat.rating }}</td>
        </tr>
      </table>
      <div style="display: flex; flex-direction: row;">
        <div *ngFor="let license of userLicense" style="display: flex; flex-direction: row; padding: 20px;">
          <img [src]="license" style="width: 200px;"/>
        </div>
        <div *ngFor="let identity of userIdentity" style="display: flex; flex-direction: row; padding: 20px;">
          <img [src]="identity" style="width: 200px;"/>
        </div>
      </div>
      <button (click)="onVerifyUser(true)">Verify User</button>
      <button (click)="onVerifyUser(false)">Unverify User</button>
    </div>
  </div>
</main>
