<main>
  <header>
    <div class="main-head-container">
      <h2 class="main-head-content">Uton Energia</h2>
    </div>
  </header>
  <section>
    <div class="main-body-container">
      <h1 class="main-body-content">Welcome!</h1>
    </div>
  </section>
  <section>
    <div class="main-body-container-navigation">
      <nav class="main-navigation">
        <div class="main-signin">
          <h3 class="main-signin-text">Existing User?</h3>
          <div class="main-signin-btn-container">
            <a routerLink="signin">
              <button class="main-signin-btn">
                Sign In
              </button>
            </a>
          </div>
        </div>
        <div class="main-signup">
          <h3 class="main-signup-text">New User?</h3>
          <div class="main-signup-btn-container">
            <a routerLink="signup">
              <button class="main-signup-btn">
                Sign Up
              </button>
            </a>
          </div>
        </div>
      </nav>
    </div>
  </section>
</main>
