.authentication-main-container {
  position: absolute;
  width: 15vw;
  background-color: #f8f8f8;
  border: 1px solid black;
  border-radius: 30px;
  top: 36vh;
  left: 4.5%;
}
.authentication-main-nav {
  height: 40vh;
  position: relative;
  left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
}

.authentication-main-btn {
  background-color: black;
  color: white;
  padding: 6px 6px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
}

.hide {
  display: none;
}
