<main>
  <div class="authentication-main-container">
    <div class="authentication-main-nav">
      <div class="authentication-main-admin">
        <button class="authentication-main-btn">
          Admin
        </button>
      </div>
      <div class="authentication-main-admin">
        <button class="authentication-main-btn">
          User
        </button>
      </div>
      <div class="authentication-main-admin">
        <button class="authentication-main-btn">
          Swapping Station
        </button>
      </div>
      <div class="authentication-main-admin">
        <button class="authentication-main-btn">
          Fleet
        </button>
      </div>
    </div>
  </div>
</main>
